* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
p,
span,
button,
a {
  margin: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
}

:root {
  --color-text: #191717;
  --color-gray: #7d7c7c;
  --color-green: #ccc8aa;
  --color-white-gray: #f1efef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
